
ul {
    display: flex;
    list-style-type: none;
    font-size: 18px;
    justify-content: flex-end; 
    margin: 0px; 
    background-color: #013444;

  }
  
  li {
    margin: 20px;
    font-family: Arial;
  }
  
  #title {
    margin-right: auto;
  }
  li a {
   color: #fff;
   text-decoration: none; 
  }
  li a:hover {
    text-decoration: underline;
    
  }
  
  .BodyImage{
    background-image: 
    linear-gradient(
        to right bottom,
        rgba(22, 25, 32, 0.582),
        rgba(59, 56, 77, 0.6)
    ),
    url(../image.js/Hub.jpg);
    width : 100%;
    height : 85vh;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .textBox{
    top: 50%;
    left: 50%; 
    /* margin-top: 60px; */ 
    /* font-size: 2.5rem; */
    color: #fff;
    transform: translate(-50%, -50%);
    position: absolute;
  }
  .text {
    /* display: inline-block; */
    font-weight: 400;
    font-size: 4rem;
  }


.FlexContents{
  display: flex;
  background-color: #f1f1f1;
  justify-content: space-around;
}
.FlexContents > div{
  background-color: #38A09D;
  color: white;
  width: 300px;
  margin: 10px;
  height: 300px;
  text-align: center;
  font-size: 20px;
  margin-top: 50px;
  padding: 10px;

}
.footer-distributed{
	background: #013444;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color: rgb(20, 53, 87);
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}
